<ion-content>
  <ng-container *ngIf="!showCountdown && !start">
    <div class="container">
      <ion-button shape="round" (click)="startGame()">START</ion-button>
    </div>
  </ng-container>


  <ng-container *ngIf="showCountdown">
    <div class="container countdown">
      <ion-label>{{timeout}}</ion-label>
    </div>
  </ng-container>

  <ng-container *ngIf="start && !endGame">
    <div class="container">
      <ion-label>{{timeLeft}}</ion-label>
      <ion-button [disabled]="timeout!==0 || timeLeft===0" shape="round" (click)="increaseScore()">CLICK ON ME
      </ion-button>
      <ion-label>{{score}}</ion-label>
    </div>
  </ng-container>

  <ng-container *ngIf="endGame">
    <div class="container">
      <ion-label>Your score is {{score}}</ion-label>
      <ion-label *ngIf="score<20">You are bad</ion-label>
    </div>
  </ng-container>
</ion-content>